{% extends 'base.html' %}

{% block content %}
<section class="article-list" style="margin: 40px;padding: px;border-radius: 15px;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Registros</h2>
            <p class="text-center">Todos os registros realizados. Despesas e Receitas.</p>
        </div>
    </div>
    <div class="row register-form" style="padding: 14px; width: 100%">
        <div class="col-md-12 col-lg-10 offset-md-0 offset-lg-1" style="padding-right: 0px;padding-left: opx;">
            <div class="row">
                <div class="col offset-lg-0"><a class="btn btn-primary" href="{% url 'webinvest:record_add' %}" role="button">Novo
                        Registro</a></div>
                <div class="col-lg-4 offset-lg-4">
                    <form action="{% url 'webinvest:record' 'title' prox_order %}" method="post">
                        {% csrf_token %}
                        <div class="float-start float-md-end mt-5 mt-md-0 search-area"><i
                                class="fas fa-search float-start search-icon"></i><input
                                name="query" class="float-start float-sm-end custom-search-input" type="search"
                                placeholder="Procurar por título"></div>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="float-start float-md-end mt-5 mt-md-0 search-area"></div>
            </div>
            <table id="example" class="table table-striped table-bordered table-responsive" cellspacing="0"
                width="100%">
                <thead>
                    <tr>
                        <th><a style="color:black" href="{% url 'webinvest:record' 'pub_date' prox_order %}">Data</a></th>
                        <th><a style="color:black" href="{% url 'webinvest:record' 'title' prox_order %}">Título</a></th>
                        <th><a style="color:black" href="{% url 'webinvest:record' 'type' prox_order %}">Tipo</a></th>
                        <th><a style="color:black" href="{% url 'webinvest:record' 'category' prox_order %}">Categoria</a></th>
                        <th><a style="color:black" href="{% url 'webinvest:record' 'value' prox_order %}">Valor</a></th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{ record.pub_date }}</td>
                            <td>{{ record.title }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.category }}</td>
                            <td>R${{ record.value }}</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'webinvest:edit' record.id %}"" role="button"><i
                                        class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></a>

                                <a  onclick="return confirm('Tem certeza que deseja excluir?')" class="btn btn-danger" href="{% url 'webinvest:delete' record.id %}" role="button"><i
                                        class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
        </div>
    </div>
</section>
{% endblock %}